.category-card {
  height: 215px;
  width: 100%;
  border: 2px solid var(--pf-global--BorderColor--300);
  align-items: center;
  justify-content: center;
  padding: var(--pf-global--spacer--lg);
  text-align: center;

  &:hover {
    box-shadow: var(--pf-global--BoxShadow--md);
  }

  &__icon {
    text-align: center;
    font-size: var(--pf-global--FontSize--3xl);
  }

  &__name {
    text-align: center;
    font-size: var(--pf-global--FontSize--lg);
  }

  &__series-label {
    margin-top: var(--pf-global--spacer--sm);
    font-size: var(--pf-global--FontSize--lg);
    color: var(--pf-global--link--Color);
  }

  &__series-label-icon {
    font-size: var(--pf-global--FontSize--md);
    color: var(--pf-global--link--Color);
  }

  &__size-label {
    font-size: var(--pf-global--FontSize--lg);
    margin-top: var(--pf-global--spacer--sm);
  }
}

.selected-category {
  border-top-color: var(--pf-global--link--Color);
  border-top-width: var(--pf-global--BorderWidth--lg);
}
