.metadata-labels-group {
  padding-top: var(--pf-v6-c-label-group--m-category--PaddingBlockStart);
  padding-right: var(--pf-v6-c-label-group--m-category--PaddingInlineEnd);
  padding-bottom: var(--pf-v6-c-label-group--m-category--PaddingBlockEnd);
  padding-left: var(--pf-v6-c-label-group--m-category--PaddingInlineStart);
  border: var(--pf-v6-c-label-group--m-category--BorderWidth) solid
    var(--pf-v6-c-label-group--m-category--BorderColor);
}
