.expand-section-with-switch {
  &__contents {
    padding-left: var(--pf-global--spacer--lg);
  }

  &__help-icon {
    color: var(--pf-global--Color--100);
    margin-left: calc(-1 * var(--pf-global--spacer--sm));
  }

  .pf-c-expandable-section__toggle {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
