.template-catalog-drawer {
  .field-group {
    margin-bottom: var(--pf-t--global--spacer--md);
  }
}
.template-catalog-drawer-info {
  flex: 1;
}

.template-catalog-drawer-footer-tooltip {
  display: flex;
  align-items: center;
}

.template-catalog-drawer-form-name {
  max-width: 49%;
}

.template-catalog-drawer-description {
  max-width: 300px;

  #expandable-content {
    padding-left: 0;
  }
}
