.co-file-dropzone.co-file-dropzone__flex,
.pf-v6-c-tab-content {
  height: 100%;
}

.checkups-self-validation-details-page {
  .co-section-heading {
    margin-bottom: var(--pf-v6-global--spacer--md);
  }
  &--yaml {
    height: 100%;
  }
}
