.template-disks-page {
  height: 100%;

  .co-m-pane__body {
    height: 100%;
  }

  .pf-c-sidebar__panel {
    padding-top: var(--pf-global--spacer--md);
  }

  &__button {
    margin: 0 0 0.5rem 0;
  }

  .pf-l-flex {
    align-items: center;
  }

  .disk-list-title {
    margin-right: 0;
    margin-top: 0;
  }
}
