.co-synced-editor__editor-toggle {
  border-bottom: var(--pf-t--global--border--width--regular) solid
    var(--pf-t--global--border--color--default);
  border-top: var(--pf-t--global--border--width--regular) solid
    var(--pf-t--global--border--color--default);
  padding: var(--pf-t--global--spacer--sm) var(--pf-t--global--spacer--lg);
}
