.kubevirt-vm-node__bg {
  fill: var(--pf-t--global--background--color--100);
}

.kubevirt-vm-node__status {
  fill-opacity: 1;
  fill: var(--pf-t--chart--color--purple--300);
  stroke-width: 0;
  .kubevirt-m-running & {
    fill: var(--pf-t--global--color--brand--default);
  }
  .kubevirt-m-not-ready & {
    fill: var(--pf-t--chart--color--blue--200);
  }
  .kubevirt-m-error & {
    fill: var(--pf-t--global--color--status--danger--100);
  }
  .kubevirt-m-pending & {
    fill: var(--pf-t--chart--color--blue--100);
  }
  .kubevirt-m-terminating & {
    fill: var(--pf-t--chart--color--blue--500);
  }
  .kubevirt-m-unknown & {
    fill: var(--pf-t--chart--color--purple--300);
  }
  .kubevirt-m-off & {
    fill: var(--pf-t--global--background--color--100);
  }
}

.kubevirt-vm-node.kubevirt-m-off {
  .kubevirt-vm-node__bg,
  .kubevirt-vm-node__status {
    stroke-width: 1;
    stroke: var(--pf-t--global--border--color--100);
  }
}
