.VirtualMachineConfigurationTabSearch {
  &--main {
    margin-bottom: var(--pf-t--global--spacer--md);
    &__no-results {
      flex-direction: column;
      > * {
        margin-top: var(--pf-t--global--spacer--md);
      }
      > :last-child {
        margin-bottom: var(--pf-t--global--spacer--md);
      }
    }
  }
}
