.emptyStateImg {
  width: 327px;
  height: 310px;
  padding: 40px;
}

.MigrationPoliciesEmptyState {
  &__button {
    .pf-v5-c-button.pf-m-primary {
      color: var(--pf-v5-c-button--disabled--Color);
      background-color: var(--pf-v5-c-button--disabled--BackgroundColor);
    }
  }
}
