.kubevirt-boot-order {
  &-order-summary__expandable.pf-v5-c-expandable .pf-v5-c-expandable__content {
    margin-top: 0;
  }

  &-summary__empty-text {
    margin-bottom: 0;
  }

  &__boot-order-empty-btn {
    margin-top: var(--pf-v5-global--spacer--md);
  }

  &__data-list-item {
    background: var(--pf-v5-global--BackgroundColor--100);
  }

  &__delete-btn.pf-v5-c-button.pf-m-link {
    --pf-v5-c-button--PaddingTop: 0;
    --pf-v5-c-button--PaddingRight: 0;
    --pf-v5-c-button--PaddingBottom: 0;
    --pf-v5-c-button--PaddingLeft: 0;
    --pf-v5-c-button--m-link--Color: var(--pf-v5-global--Color--100);
  }
}
