.template-catalog-drawer {
  width: inherit;

  .pf-c-modal-box__footer {
    padding: 0;

    .template-catalog-drawer-footer-section {
      padding: var(--pf-c-modal-box__footer--PaddingTop) var(--pf-global--spacer--xl)
        var(--pf-global--spacer--xl);
      border-top: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--300);
    }
  }

  .field-group {
    margin-bottom: var(--pf-global--spacer--md);
  }
}
.template-catalog-drawer-info {
  flex: 1;
}

.template-catalog-drawer-footer-tooltip {
  display: flex;
  align-items: center;
}

.template-catalog-drawer-form-name {
  max-width: 49%;
}

.template-catalog-drawer-description {
  max-width: 300px;

  #expandable-content {
    padding-left: 0;
  }
}
