.template-catalog-drawer {
  .pf-c-modal-box__footer {
    padding: 0;

    .template-catalog-drawer-footer-section {
      padding-top: var(--pf-c-modal-box__footer--PaddingTop);
      padding-right: var(--pf-c-modal-box__footer--PaddingRight);
      padding-bottom: var(--pf-c-modal-box__footer--PaddingBottom);
      padding-left: var(--pf-c-modal-box__footer--PaddingLeft);
      border-top: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--300);
    }
  }
}
.template-catalog-drawer-info {
  flex: 1;
}

.template-catalog-drawer-footer-tooltip {
  display: flex;
  align-items: center;
}

.template-catalog-drawer-form-name {
  width: 250px;
}

.template-catalog-drawer-description {
  max-width: 300px;
}
