.network-interface-list-page {
  height: 100%;

  .co-m-pane__body {
    height: 100%;
  }

  .pf-c-sidebar__panel {
    padding-top: var(--pf-global--spacer--lg);
  }

  &__title {
    margin-top: var(--pf-global--spacer--lg);
  }
}

.add-network-interface-button {
  margin: 1rem 0 0.5rem 0;
}
