.consoles-actions {
  width: 98%;
  align-self: center;
  margin: 10px 0;
  &-inner-flex {
    justify-content: space-between;
  }
}

.virtual-machine-console-page {
  height: 100%;
}

.console-container-stand-alone {
  height: calc(100% - 75px);
}

.pf-c-console__xterm {
  height: 100%;
  margin: 10px;
}
