.vm-creation-location-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__form-control {
    .vm-creation-location-display__content {
      padding-block-start: var(--pf-t--global--spacer--control--vertical--default);
      padding-block-end: var(--pf-t--global--spacer--control--vertical--default);
      padding-inline-start: var(--pf-t--global--spacer--control--horizontal--default);
      padding-inline-end: var(--pf-t--global--spacer--control--horizontal--default);
      color: var(--pf-t--global--text--color--regular);
      font-size: var(--pf-t--global--font--size--body--default);
      line-height: var(--pf-t--global--font--line-height--body);
      flex-grow: 1;
    }
  }

  &--editing &__form-control {
    --pf-v6-c-form-control--BackgroundColor: transparent;
    --pf-v6-c-form-control--before--BorderColor: transparent;
    --pf-v6-c-form-control--before--BorderStyle: none;
    --pf-v6-c-form-control--after--BorderColor: transparent;
    --pf-v6-c-form-control--after--BorderStyle: none;
    --pf-v6-c-form-control--hover--after--BorderColor: transparent;

    &:hover {
      --pf-v6-c-form-control--after--BorderColor: transparent;
      --pf-v6-c-form-control--after--BorderWidth: 0;
    }

    .vm-creation-location-display__content {
      padding: 0;
    }
  }
}
