**/node_modules
npm-debug.log
dist
**/.env
/coverage
/gui-test-screenshots
cypress/gui-test-screenshots
cypress/cypress-a11y-report.json
.DS_Store
.devcontainer/dev.env
console-extensions.md
.idea/
scripts/ca.crt
scripts/console-client-secret
*.json-*
*.env
