$BORDER: var(--pf-t--global--border--width--regular) solid
  var(--pf-t--global--border--color--default);

.kv-monitoring-card {
  &__body {
    padding: 0;
  }
  &__header {
    border-bottom: $BORDER;
  }
  &__graph-separator {
    border-right: $BORDER;
  }
  &__table-separator {
    border-top: $BORDER;
  }
}
