$BORDER: var(--pf-v5-global--BorderWidth--sm) solid var(--pf-v5-global--Color--light-300);

.kv-monitoring-card {
  &__body {
    padding: 0;
  }
  &__header {
    .pf-v5-c-card__title-text {
      font-weight: var(--pf-v5-global--FontWeight--bold);
    }
    border-bottom: $BORDER;
  }
  &__graph-separator {
    border-right: $BORDER;
  }
  &__table-separator {
    border-top: $BORDER;
  }
}
