.help-text-icon__popover {
  font-size: var(--pf-t--global--font--size--sm);
}

.help-icon {
  cursor: pointer;
  color: var(--pf-t--global--icon--color--subtle);

  transition: color var(--pf-t--global--motion--duration--sm)
      var(--pf-t--global--motion--timing-function--default),
    transform var(--pf-t--global--motion--duration--sm)
      var(--pf-t--global--motion--timing-function--default);

  &:hover {
    color: var(--pf-t--global--icon--color--regular);
  }
}
