.sidebar-editor {
  min-height: 100%;

  .pf-c-sidebar__panel,
  .pf-c-sidebar__main {
    min-height: 100%;
  }

  .pf-c-sidebar__main {
    align-items: stretch;
  }

  .pf-c-sidebar__panel {
    padding: var(--pf-global-spacer-sm);
  }

  .ocs-yaml-editor__root {
    height: 100%;
  }
}

