.ssh-key-upload {
  &__file-upload {
    margin-top: var(--pf-v5-global--spacer--xs);
  }

  &__form-group {
    --pf-v5-c-form--m-horizontal__group-label--md--GridColumnGap: var(--pf-v5-global--spacer--xs);
    --pf-v5-c-form--m-horizontal__group-label--md--GridColumnWidth: 0.3fr;
  }
}
