.utilization-bar {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--pf-t--global--spacer--xs);
  }

  &__title {
    font-size: var(--pf-t--global--font--size--md);
  }

  &__percentage {
    font-size: var(--pf-t--global--font--size--md);
    text-align: right;
  }

  &__track {
    display: flex;
    align-items: center;
    height: 1.875rem;
    background-color: var(--pf-t--chart--global--fill--color--100);
    overflow: hidden;
  }

  &__fill {
    height: 0.5rem;
    background-color: var(--pf-t--chart--theme--colorscales--blue--colorscale--100);

    @media (prefers-reduced-motion: no-preference) {
      transition: width 0.3s ease;
    }
  }
}
