.kv-tech-preview-badge {
  background-color: var(--pf-t--global--background--color--primary--default);
  color: var(--pf-t--global--text--color--regular);
  border: 1px solid var(--pf-t--global--icon--color--status--warning--default);
}
