.horizontal-nav-bar {
  &__menu-item {
    font-size: var(--pf-v5-global--FontSize--lg);
    background: transparent;
    border: 0;
    color: var(--pf-v5-global--Color--200);
    display: block;
    padding: 6px 1rem 8px;
    position: relative;
    text-decoration: none;
    &::after {
      bottom: 0;
      content: '';
      display: block;
      height: 2px;
      left: 1rem;
      position: absolute;
      right: 1rem;
    }
    &.active {
      color: var(--pf-v5-global--link--Color);
      &::after {
        background: var(--pf-v5-global--link--Color);
      }
    }
  }
}
