.horizontal-navbar__routes {
  // Needed for YAML editor to take up full height
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}

.horizontal-navbar__badge {
  margin-left: var(--pf-t--global--spacer--sm);

  &--red {
    --pf-v6-c-badge--m-unread--BackgroundColor: var(--pf-t--global--color--status--danger--default);
  }

  &--yellow {
    --pf-v6-c-badge--m-unread--BackgroundColor: var(
      --pf-t--global--color--status--warning--default
    );
    --pf-v6-c-badge--m-unread--Color: var(--pf-t--global--text--color--regular);
  }
}
