.horizontal-nav-bar {
  &__menu-item {
    font-size: var(--pf-v5-global--FontSize--lg);
    &.pf-c-nav__link.pf-m-current {
      color: var(--pf-v5-global--link--Color);
      &:before {
        border-color: unset;
        border-bottom-width: 2px;
      }
    }
    &.pf-c-nav__link:hover {
      color: var(--pf-v5-global--Color--100);
      &:before {
        border-color: unset;
        border-bottom-width: 2px;
      }
    }
    &.pf-c-nav__link {
      color: var(--pf-v5-global--Color--200);
    }
  }
  &__list {
    padding-left: var(--pf-v5-global--spacer--sm);
    align-items: self-end;
  }
}
