.kv-details-section-heading {
  margin-bottom: 20px;
}

.kv-icon-space-l {
  margin-left: 0.35em;
}

.migration-policy-description-item-header {
  display: flex;
  justify-content: space-between;
  &--action-button {
    text-decoration: none;
    color: var(--pf-v5-global--link--Color);
    font-weight: var(--pf-v5-global--FontWeight--light);
  }
}

.migration-policy-selectors-group {
  padding-top: var(--pf-v5-c-label-group--m-category--PaddingTop);
  padding-right: var(--pf-v5-c-label-group--m-category--PaddingRight);
  padding-bottom: var(--pf-v5-c-label-group--m-category--PaddingBottom);
  padding-left: var(--pf-v5-c-label-group--m-category--PaddingLeft);
  border: var(--pf-v5-c-label-group--m-category--BorderWidth) solid
    var(--pf-v5-c-label-group--m-category--BorderColor);
}
