.settings-tab {
  &__card {
    height: fit-content;
    flex-direction: row;
  }

  &__menu {
    flex-basis: fit-content;
    min-width: 145px;
  }

  &__content {
    width: 750px;
    padding: var(--pf-t--global--spacer--2xl);
    padding-left: calc(var(--pf-t--global--spacer--3xl) * 2);
  }
}

.section-divider {
  margin: var(--pf-t--global--spacer--md) 0;
}
