.settings-tab {
  &__card {
    height: 100%;
    flex-direction: row;
  }

  &__menu {
    flex-basis: fit-content;
  }

  &__content {
    width: 100%;
    padding: var(--pf-global--spacer--2xl);
    padding-left: calc(var(--pf-global--spacer--3xl) * 2);
  }
}
