.VirtualMachineDiagnosticTab {
  &--main {
    display: flex;
    &__tabs {
      flex-basis: max-content;
      flex-shrink: 0;
    }
    &__content {
      padding: var(--pf-t--global--spacer--sm);
      width: 100%;

      .co-m-pane__body {
        padding-bottom: 0;
      }

      .pf-v6-c-table {
        margin-bottom: var(--pf-t--global--spacer--xl);
      }
    }
  }

  &--header {
    margin-bottom: var(--pf-t--global--spacer--md);
  }
}

.VirtualMachineDiagnosticTabRow--expanded {
  display: inline-flex;
  align-items: baseline;
  margin-left: var(--pf-t--global--spacer--3xl);
  svg {
    margin-right: var(--pf-t--global--spacer--sm);
  }
}
.pf-v6-c-table {
  tr.VirtualMachineDiagnosticTabRow--row {
    border-bottom: none;
  }
}
