.VirtualMachineDiagnosticTab {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__body {
    flex: 1;
    min-height: 0;
    display: flex;
  }

  &__body > &__tabs {
    flex-basis: max-content;
    flex-shrink: 0;
    padding-right: var(--pf-t--global--spacer--2xl);
  }

  &__content {
    overflow-y: auto;
    width: 100%;

    .co-m-pane__body {
      padding-bottom: 0;
    }

    .pf-v6-c-table {
      margin-bottom: var(--pf-t--global--spacer--xl);
    }
  }

  &__header {
    margin-bottom: var(--pf-t--global--spacer--md);
  }
}

.VirtualMachineDiagnosticTabRow--expanded {
  display: inline-flex;
  align-items: baseline;
  margin-left: var(--pf-t--global--spacer--3xl);
  svg {
    margin-right: var(--pf-t--global--spacer--sm);
  }
}
.pf-v6-c-table {
  tr.VirtualMachineDiagnosticTabRow--row {
    border-bottom: none;
  }
}
