
  @import '../../../utils/styles/secondary-editor.scss';

.vm-wizard-body {
  .co-m-page__body {
    height: 100%;
  }

  @include secondary-resource-yaml-editor;

  .sidebar-editor__panel button {
    &.save-button {
      @include secondary-editor-save-button;
    }
  
    &.reload-button {
      @include secondary-editor-reload-button;
    }
  }
}




.vm-wizard-footer {
  padding: var(--pf-global--spacer--lg);
  border-top: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);
  position: sticky;
  bottom: 0;
  width: 100%;
  background: var(--pf-c-page__main-section--m-light--BackgroundColor);
  z-index: 1000;
}

.wizard-header {
  .pf-l-split {
    justify-content: space-between;
  }
}
