.ConfigurationTab {
  height: 100%;
  &--main {
    margin: var(--pf-global--spacer--sm);
    width: fit-content;
    min-width: max-content;
  }
  &--content {
    width: 100%;
  }
  &--body {
    display: flex;
    flex-direction: row;
    background: var(--pf-c-page__main-section--m-light--BackgroundColor);
    .pf-c-page__main-section {
      background: none;
    }
    .pf-c-expandable-section__toggle-icon {
      display: flex;
      align-self: center;
    }
    h2 {
      margin: var(--pf-global--spacer--md) 0;
    }
  }
}
