.VirtualMachineConfigurationTab {
  &--body > &--main {
    margin: var(--pf-t--global--spacer--sm);
    width: fit-content;
    min-width: max-content;
    max-width: 100px;
    padding-right: var(--pf-t--global--spacer--3xl);
  }
  &--content {
    width: 100%;
  }
  &--body {
    display: flex;
    flex-direction: row;
    .pf-v6-c-page__main-section {
      background: none;
    }
    .pf-v6-c-expandable-section__toggle-icon {
      display: flex;
      align-self: center;
    }
    h2 {
      margin: var(--pf-t--global--spacer--md) 0;
    }
  }
}
