.cpu-memory-modal {
  .pf-v6-c-modal-box__body {
    display: table;
  }
  .inputs {
    display: flex;
    justify-content: space-between;
    margin-top: var(--pf-t--global--spacer--xl);
    margin-bottom: var(--pf-t--global--spacer--lg);
    .input-memory {
      &--dropdown {
        margin-left: var(--pf-t--global--spacer--sm);
      }
    }
    .input-cpu {
      margin-right: var(--pf-t--global--spacer--xl);
    }
  }
}
