.kv-dataimportcron-managed-details {
  padding-top: var(--pf-t--global--spacer--xs);
  padding-right: var(--pf-t--global--spacer--xs);
  padding-bottom: var(--pf-t--global--spacer--xs);
  padding-left: var(--pf-t--global--spacer--sm);
  border: var(--pf-t--global--border--width--regular) solid
    var(--pf-t--global--border--color--default);
}
