.kv-dataimportcron-managed-details {
  padding-top: var(--pf-v5-global--spacer--xs);
  padding-right: var(--pf-v5-global--spacer--xs);
  padding-bottom: var(--pf-v5-global--spacer--xs);
  padding-left: var(--pf-v5-global--spacer--sm);
  border: var(--pf-v5-global--BorderWidth--sm) solid var(--pf-v5-global--BorderColor--300);
}
