#kubevirt-simple-copy-button__button {
  background-color: var(--pf-v5-c-page__main-section--m-light--BackgroundColor);
  color: var(--pf-v5-c-button--m-plain--Color);
  padding-left: var(--pf-v5-global--spacer--xs);
}
