.ssh-secret-section {
  &__body {
    margin-top: var(--pf-global--spacer--md);
  }

  &__radio-group {
    margin-top: var(--pf-global--spacer--md);
  }

  &__form-group-secret {
    padding-left: var(--pf-global--spacer--sm);
    margin-bottom: var(--pf-global--spacer--sm);
  }

  &__form-group-project {
    padding-right: var(--pf-global--spacer--sm);
    margin-bottom: var(--pf-global--spacer--sm);
  }
}
