.ssh-secret-section {
  width: 650px;

  &__body {
    margin-top: var(--pf-global--spacer--md);
  }

  &__title {
    font-weight: var(--pf-global--FontWeight--bold);
    margin-bottom: var(--pf-global--spacer--md);
  }
}
