.pf-v6-l-split__item:has(.vm-search-bar),
.pf-v6-c-action-list__group:has(.vm-search-bar) {
  width: 100%;
}

// Prevent the page header title from wrapping
[data-ouia-component-id='PageHeader-title'] {
  white-space: nowrap;
}

.saved-searches-dropdown-menu {
  max-width: 260px;
}

.advanced-search-icon {
  transform: scale(1.25);
  transform-origin: center;

  &.isLarge {
    transform: scale(1.5);
  }
}
