.VirtualMachinesOverviewTabDetails--details {
  .card-title {
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
  .console-vnc {
    height: 70%;
    width: 100%;
    grid-area: 'main';
  }
  .console-overview {
    flex-direction: column;
    justify-content: flex-start;
  }
  .right-column {
    height: 100%;
    .title {
      font-size: var(--pf-v5-global--FontSize--sm);
      font-weight: var(--pf-v5-global--FontWeight--bold);
      margin-right: var(--pf-v5-global--spacer--2xl);
    }
  }
  .link {
    margin-top: var(--pf-v5-global--spacer--sm);
    align-self: baseline;
    button {
      padding-left: 0;
    }
    .icon {
      margin-left: var(--pf-v5-global--spacer--xs);
    }
  }

  .vnc-no-connection-placeholder {
    height: 100%;
    width: 100%;
  }

  .vnc-grey-background {
    background: var(--pf-v5-global--palette--black-300);
    aspect-ratio: 4/3;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      cursor: pointer;
      color: var(--pf-v5-global--primary-color--100);
    }
    &.disabled {
      svg {
        cursor: auto;
        color: var(--pf-v5-global--disabled-color--100);
      }
    }
  }
}
