.VirtualMachinesOverviewTabDetails--details {
  .card-title {
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
  .console-vnc {
    height: 70%;
    width: 100%;
    grid-area: 'main';
  }
  .console-overview {
    flex-direction: column;
    justify-content: flex-start;
  }
  .right-column {
    height: 100%;
    .title {
      font-size: var(--pf-t--global--font--size--sm);
      font-weight: var(--pf-t--global--font--weight--heading--bold);
      margin-right: var(--pf-t--global--spacer--2xl);
    }
  }
  .link {
    margin-top: var(--pf-t--global--spacer--sm);
    align-self: baseline;
    button {
      padding-left: 0;
    }
    .icon {
      margin-left: var(--pf-t--global--spacer--xs);
    }
  }

  .vnc-no-connection-placeholder {
    height: 100%;
    width: 100%;
  }

  .vnc-grey-background {
    background: var(--pf-t--global--color--nonstatus--gray--default);
    aspect-ratio: 4/3;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      cursor: pointer;
      color: var(--pf-t--global--icon--color--brand--default);
      &:hover {
        color: var(--pf-t--global--icon--color--brand--hover);
      }
    }
    &.disabled {
      svg {
        cursor: auto;
        color: var(--pf-t--global--icon--color--on-disabled);
      }
    }
  }
}
