.instance-type-series-menu-card {
  &__toggle-card {
    flex: 1 1 0;
    max-width: min(20%, 320px);
    min-height: 200px;
    min-width: 160px;
    text-align: center;
    margin-top: var(--pf-t--global--spacer--lg);

    &:hover::before {
      border-color: var(--pf-t--global--border--color--hover);
    }
    &:hover {
      cursor: pointer;
    }
  }

  &__card-icon {
    font-size: var(--pf-t--global--font--size--3xl);
    padding-top: var(--pf-t--global--spacer--md);
  }

  &__card-title,
  &__card-toggle-text,
  &__card-footer {
    font-size: var(--pf-t--global--font--size--lg);
  }

  &__card-footer {
    margin-top: var(--pf-t--global--spacer--sm);
  }

  &__card-title {
    margin: var(--pf-t--global--spacer--sm) 0;
  }

  &__card-toggle-text {
    color: var(--pf-t--global--text--color--link--default);
  }
}

.selected {
  font-weight: var(--pf-t--global--font--weight--heading--bold);

  &::before {
    border: var(--pf-t--global--border--width--box--clicked) solid
      var(--pf-t--global--border--color--clicked);
  }
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .instance-type-series-menu-card {
    &__card-icon {
      font-size: var(--pf-t--global--font--size--xl);
    }

    &__card-title,
    &__card-toggle-text,
    &__card-footer {
      font-size: var(--pf-t--global--font--size--md);
    }

    &__card-title {
      min-height: 50px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .instance-type-series-menu-card {
    &__card-icon {
      font-size: var(--pf-t--global--font--size--lg);
    }

    &__card-title,
    &__card-toggle-text,
    &__card-footer {
      font-size: var(--pf-t--global--font--size--sm);
    }

    &__card-title {
      min-height: 40px;
    }
  }
}
