.list-managment-group {
  display: flex;
  align-items: end;
  padding-block: var(--pf-t--global--spacer--md);

  &__pagination {
    flex-grow: 1;
  }

  .pf-v6-c-toolbar {
    padding-block: 0;
  }
}

.list-header-spacer {
  margin-top: 67px;
}
