.list-managment-group {
  display: flex;
  justify-content: space-between;
  &__pagination {
    flex-grow: 1;
  }

  .pf-v6-c-toolbar {
    padding-block-start: var(--pf-t--global--spacer--md);
  }

  .pf-m-toggle-group-container {
    width: 100%;
  }
}

.list-header-spacer {
  margin-top: 67px;
}
