.mp-match-label-group {
  margin-top: var(--pf-t--global--spacer--xs);
  padding-top: var(--pf-v6-c-label-group--m-category--PaddingBlockStart);
  padding-right: var(--pf-v6-c-label-group--m-category--PaddingInlineEnd);
  padding-bottom: var(--pf-v6-c-label-group--m-category--PaddingBlockEnd);
  padding-left: var(--pf-v6-c-label-group--m-category--PaddingInlineStart);
  border: var(--pf-v6-c-label-group--m-category--BorderWidth) solid
    var(--pf-v6-c-label-group--m-category--BorderColor);
}

.kv-migration-policy__label-vm {
  color: var(--pf-t--global--text--color--link--default);
}
