.wizard-metadata-labels-group {
  padding-top: var(--pf-c-label-group--m-category--PaddingTop);
  padding-right: var(--pf-c-label-group--m-category--PaddingRight);
  padding-bottom: var(--pf-c-label-group--m-category--PaddingBottom);
  padding-left: var(--pf-c-label-group--m-category--PaddingLeft);
  border: var(--pf-c-label-group--m-category--BorderWidth) solid
    var(--pf-c-label-group--m-category--BorderColor);
}
