.ActionDropdownItem {
  &__disabled {
    cursor: unset;
    color: var(--pf-t--global--text--color--disabled);
    pointer-events: all;
  }

  .pf-v6-c-menu.pf-m-flyout {
    --pf-v6-c-menu--Width: 200px;
  }
}
