form.kv-sysprep--main.pf-v6-c-form {
  gap: 0;
}

.kv-sysprep--title {
  display: inline-flex;
  gap: var(--pf-t--global--spacer--sm);
  margin-top: var(--pf-t--global--spacer--md);
}

.kv-sysprep--error {
  color: var(--pf-t--global--text--color--status--danger--default);
}

.kv-sysprep-info {
  margin: 0;
}
