.dev-preview-label {
  background-color: var(--pf-v5-c-label--m-orange--BackgroundColor);

  .pf-v5-c-label__content {
    color: var(--pf-v5-global--palette--gold-700);
  }

  .pf-v5-c-label__icon {
    color: var(--pf-v5-global--palette--orange-300);
  }

  --pf-v5-c-label__content--before--BorderColor: var(--pf-v5-global--palette--orange-100);
}
