.bootable-volumes-pipelines-hint {
  padding-left: var(--pf-t--global--spacer--sm);

  &__icon {
    width: var(--pf-t--global--spacer--xl);
    padding-right: var(--pf-t--global--spacer--sm);
    vertical-align: middle;
  }
}
