.PreviewFeaturesTab--control_checkbox {
  .pf-c-dropdown__toggle.pf-m-split-button {
    &::before {
      border: none;
    }
    label.pf-c-dropdown__toggle-check {
      padding: 0;
    }
  }
}
.preview-features-popover {
  &__icon {
    margin-left: var(--pf-global--spacer--xs);
  }
}
