.VirtualMachinesOverviewTabInterfaces--main {
  .co-virtualized-table {
    tr {
      border: none;
    }
  }
  .pf-v5-c-card {
    .pf-v5-c-card__body {
      padding: 0;
    }
  }
  .pf-v5-c-description-list__text.pf-m-help-text.help {
    text-underline-offset: 0.25rem;
  }
  .no-data-empty-message {
    margin: var(--pf-v5-global--spacer--2xl);
  }
}
