.VirtualMachinesOverviewTabInterfaces--main {
  .co-virtualized-table {
    tr {
      border: none;
    }
  }
  .pf-v6-c-card {
    .pf-v6-c-card__body {
      padding: var(--pf-t--global--spacer--xs);
    }
  }
  .pf-v6-c-description-list__text.pf-m-help-text.help {
    text-underline-offset: 0.25rem;
  }
  .no-data-empty-message {
    margin: var(--pf-t--global--spacer--2xl);
  }
}

.VirtualMachinesOverviewTabInterfaces--popover {
  .pf-v6-c-clipboard-copy__text {
    max-width: 10rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: bottom;
  }
}
