.kv-permissions-card__popover-item {
  font-size: var(--pf-global--FontSize--md);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  padding-left: var(--pf-c-card--child--PaddingLeft);
  padding-right: var(--pf-c-card--child--PaddingRight);
}

.kv-permissions-card__popover-item:last-child {
  padding-bottom: 0;
}

.kv-permissions-card__popover-table-header {
  font-size: var(--pf-global--FontSize--md);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  padding-left: var(--pf-c-card--child--PaddingLeft);
  padding-right: var(--pf-c-card--child--PaddingRight);
}

.kv-permissions-card__popover-item-task {
  margin-right: var(--pf-global--spacer--xl);
}