.ApplyStorageProfileSettings {
  &--volume-access-section {
    margin-left: var(--pf-t--global--spacer--md);
    margin-top: var(--pf-t--global--spacer--sm);
  }
}

.labelWithGap {
  display: flex;
  gap: 5px;
  align-items: anchor-center;
}
