.vm-resource-label {
  vertical-align: middle;
  margin-right: var(--pf-t--global--spacer--xs);
  line-height: var(--pf-t--global--icon--size--font--md);
}

.VirtualMachineNavPage--tabs__main {
  height: 90%;

  .co-m-page__body {
    height: 100%;
  }
}

.VirtualMachineNavPageTitle {
  &__SidebarEditorSwitch {
    padding-top: 0.4rem;
  }
}
