.vm-resource-label {
  vertical-align: middle;
  margin-right: var(--pf-t--global--spacer--xs);
  line-height: var(--pf-t--global--icon--size--font--md);
}

.VirtualMachineNavPage {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.VirtualMachineNavPage--tabs__main {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;

  .co-m-page__body {
    height: 100%;
  }
}

.VirtualMachineNavPageTitle {
  &__SidebarEditorSwitch {
    padding-top: 0.4rem;
  }
}
