.vm-resource-label {
  vertical-align: middle;
}

.VirtualMachineNavPage--tabs__main {
  height: 100%;

  .co-m-page__body {
    height: 100%;
  }

  li.co-m-horizontal-nav__menu-item {
    a[data-test-id='horizontal-link-hide'] {
      display: none;
    }
  }
}

.VirtualMachineNavPageTitle {
  &__SidebarEditorSwitch {
    padding-top: 0.4rem;
  }
}
