.vm-resource-label {
  vertical-align: middle;
}

.VirtualMachineNavPage--tabs__main {
  height: 90%;

  .co-m-page__body {
    height: 100%;
  }
}

.VirtualMachineNavPageTitle {
  &__SidebarEditorSwitch {
    padding-top: 0.4rem;
  }
}
