.section-with-switch {
  margin-bottom: var(--pf-global--spacer--md);
  justify-content: space-between;
  &__help-text-popover {
    margin-left: var(--pf-global--spacer--xs);
  }
  &__text {
    display: inline-flex;
    a {
      margin-left: var(--pf-global--spacer--sm);
    }
  }
  &__inline {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    margin-top: var(--pf-global--spacer--md);
    align-items: center;
  }
}
