.section-with-switch {
  margin-bottom: var(--pf-global--spacer--md);
  justify-content: space-between;
  &__help-text-popover {
    margin-left: var(--pf-global--spacer--xs);
  }
  &__text {
    display: inline-flex;
    a {
      margin-left: var(--pf-global--spacer--sm);
    }
  }
}
