.running-checkup-warning {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  max-width: 100%;

  &__link {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    text-decoration: none;
  }

  &__name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__icon {
    flex-shrink: 0;
  }
}
