.vm-catalog {
  .co-catalog-page__header {
    width: 100%;
  }

  .co-catalog-page__toolbar {
    padding-top: 0px;
  }

  .co-catalog-page--with-sidebar {
    padding-bottom: 0;
    margin-top: var(--pf-t--global--spacer--lg);
  }

  &-row-icon {
    width: var(--pf-t--global--spacer--xl);
    padding-right: var(--pf-t--global--spacer--sm);
    vertical-align: bottom;
  }

  &-row-label {
    margin-left: var(--pf-t--global--spacer--sm);
  }

  &-grid {
    padding: var(--pf-t--global--spacer--lg);

    &-tile {
      color: var(--pf-t--global--text--color--regular);
    }
  }

  .vm-catalog-grid-container,
  .vm-catalog-table-container {
    flex: 1;

    position: relative;
    height: 100%;
    overflow-y: auto;
    border-top: 1px solid var(--pf-t--global--border--color--default);
    border-left: 1px solid var(--pf-t--global--border--color--default);
  }

  .vm-catalog-grid-tile:hover {
    --pf-v6-c-card--BorderColor: var(--pf-v6-c-card--m-selectable--hover--BorderColor);
    cursor: pointer;
  }

  .badge-stack {
    gap: var(--pf-t--global--spacer--xs);
  }

  .badgeload {
    border-radius: var(--pf-t--global--border--radius--large);
  }
}
