.cloud-init-editor {
  height: 400px;
  width: 500px;

  .yaml-editor {
    height: 400px;
    padding-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  @import '../../../styles/secondary-editor';
}
