.label-key-select-group > h1 {
  font-weight: var(--pf-t--global--font--weight--body--default);
  color: var(--pf-t--global--text--color--subtle);
  font-size: var(--pf-t--global--font--size--sm);
}

.label-key-select-hint {
  color: var(--pf-t--global--text--color--subtle);
  font-size: var(--pf-t--global--font--size--sm);
  font-style: italic;
}
