.alert-margin-top-bottom {
  margin-top: 1.5rem;
  margin-bottom: -1.5rem;
}

.list-page-body-no-border-top {
  border-top: none;
  margin-top: 1.5rem;
}

.margin-top {
  margin-top: 1rem;
}

.title-edit-item-space {
  justify-content: space-between;
  flex: 1;
}
