.general-tab {
  border: 1px solid var(--pf-global--BackgroundColor--200);
  padding: var(--pf-global--spacer--md) var(--pf-global--spacer--2xl);
  --pf-v5-l-stack--m-gutter--Gap: var(--pf-global--spacer--2xl);
  margin-bottom: var(--pf-global--spacer--xl);

  &__upgrade {
    margin-top: var(--pf-global--spacer--sm);
  }
}
