.vm-actions-icon-bar {
  &__button {
    padding: var(--pf-v5-global--spacer--sm) var(--pf-v5-global--spacer--md);
  }

  &__icon {
    font-size: var(--pf-v5-global--FontSize--xl);
    vertical-align: bottom;
  }

  &__icon--unpause {
    transform: rotate(90deg);
    padding-right: 0;
  }
}
