.memory-density {
  &__ratio-level-row {
    align-items: flex-start;
    display: flex;
    gap: var(--pf-t--global--spacer--sm);
  }

  &__ratio-level-dot {
    border-radius: 50%;
    display: inline-block;
    flex-shrink: 0;
    height: 12px;
    margin-top: 3px;
    width: 12px;
  }

  &__ratio-level-indicator {
    align-items: center;
    display: flex;
    gap: var(--pf-t--global--spacer--xs);
  }
}
