.ApplyStorageProfileSettings {
  &--volume-access-section {
    margin-left: var(--pf-v5-global--spacer--sm);
    margin-top: var(--pf-v5-global--spacer--sm);
  }
  &--labelWithGap {
    display: flex;
    gap: var(--pf-v5-global--spacer--sm);
    align-items: center;
  }
}
