## REMOVE .example from filename

OC_PLUGIN_NAME=kubevirt-plugin
OC_PLUGIN_I18N_NAMESPACES=plugin__kubevirt-plugin

OC_URL=https://clusterurl.com:6443
OC_USER=kubeadmin
OC_PASS=xxxxx-xxxxx-xxxxx-xxxxx
