.openshift-virtualization-widget {
  &__subtitle {
    font-family: var(--pf-t--global--font--family--body);
    font-weight: var(--pf-t--global--font--weight--body--bold);
    font-size: var(--pf-t--global--font--size--body--sm);
    line-height: var(--pf-t--global--font--line-height--body);
    margin-block-end: 0;
  }

  &__update-available {
    font-size: var(--pf-t--global--font--size--body--sm);
    margin-top: var(--pf-t--global--spacer--sm);
  }

  &__body-grid {
    display: grid;

    .status-count-item__grid-item {
      padding-inline-start: 0;
      padding-inline-end: var(--pf-t--global--spacer--xl);
    }
  }
}
