.template-catalog-tile-wrapper {
  &--selected {
    .template-catalog-tile {
      --pf-v6-c-card--BorderColor: var(--pf-t--global--color--brand--default);
      --pf-v6-c-card--BorderWidth: var(--pf-t--global--border--width--action--default);

      box-shadow: var(--pf-t--global--box-shadow--md);
    }
  }
}
