.template-header-alert {
  margin-bottom: 0;
  
  button.pf-c-button.pf-m-link {
    padding-left: 0;
  }
} 

.TemplatePageTitle {
  .pf-c-title {
    align-items: center;
  }

  .pf-c-switch {
    padding-top: var(--pf-global--spacer--xs);
  }
}
