.template-header-alert {
  margin-bottom: 0;

  button.pf-v5-c-button.pf-m-link {
    padding-left: 0;
  }
}

.TemplatePageTitle {
  .pf-v5-c-title {
    align-items: center;
  }

  .pf-v5-c-switch {
    padding-top: var(--pf-v5-global--spacer--xs);
  }
}
