.tooltip-no-edit-permissions {
  &__container {
    position: relative;
  }

  &__inner {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
}
