.distribution-bar-chart {
  &__title {
    display: flex;
    align-items: center;
    gap: var(--pf-t--global--spacer--xs);
    font-size: var(--pf-t--global--font--size--body--default);
    font-weight: var(--pf-t--global--font--weight--body--bold);
    margin-bottom: var(--pf-t--global--spacer--xs);
  }

  &__chart {
    min-height: 11.25rem;
    width: 100%;
  }
}
