.co-operator-details__actions {
  .pf-c-dropdown {
    height: fit-content;
  }
}

.VirtualMachineList {
  &--filters__main {
    display: flex;
    justify-content: space-between;
    &-pagination {
      flex-grow: 1;
    }
  }
}
