.instancetypes-vm-details-section {
  margin-top: var(--pf-t--global--spacer--lg);

  .pf-v6-c-description-list__group {
    grid-template-columns: 200px calc(100% - 200px);
  }
}

.instancetypes-vm-details-body {
  margin-top: var(--pf-t--global--spacer--lg);
}
