.failed-install-icon {
  color: var(--pf-t--global--icon--color--status--danger--default);
}

.installed-icon {
  color: var(--pf-t--global--icon--color--status--success--default);
}

.not-installed-icon {
  color: var(--pf-t--global--color--status--info--default);
}
