.bootable-volume-list-bar {
  margin-top: var(--pf-v5-global--spacer--md);
  &__filter {
    margin-top: var(--pf-v5-global--spacer--xs);
  }

  &__pagination {
    margin-top: var(--pf-v5-global--spacer--md);
  }

  &__show-all-btn {
    margin-top: calc(var(--pf-v5-global--spacer--md) + var(--pf-v5-global--spacer--xs));
  }

  &__volume-namespace {
    width: 240px;
    .pf-v5-c-form__label {
      margin-bottom: 0;
    }
  }
}

.BootableVolumeList {
  &-table {
    th:first-child {
      padding-right: 0;
      padding-left: 30px;
      .pf-c-table__sort-indicator {
        margin: 0;
      }
    }
    tbody {
      tr {
        td:first-child {
          padding-left: var(--pf-v5-global--spacer--md);
          width: unset;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
