.VirtualMachinesOverviewTabSnapshots--main {
  .pf-v6-u-text-color-subtle {
    display: flex;
    justify-content: space-between;
  }
  .pf-v6-c-card__body {
    padding-right: 0;
  }

  .VirtualMachinesOverviewTabSnapshotsRow--main {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    .name {
      display: inline-flex;
      align-items: center;
      .timestamp {
        margin-left: var(--pf-t--global--spacer--xs);
      }
      .icon-spacer__offset {
        margin-left: var(--pf-t--global--spacer--sm);
        text-underline-offset: 0.25rem;
      }
    }
  }
}
.pf-v6-c-description-list__text {
  .icon-spacer {
    margin-left: var(--pf-t--global--spacer--sm);
  }
}
