.vms-tree-view {
  overflow: visible;

  --pf-v6-c-drawer__panel--PaddingBlockStart: 0;

  .pf-v6-c-tree-view__list-item {
    position: relative;
  }

  .right-click-action-menu-background {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
  }

  &__toolbar-section {
    width: 100%;
  }

  &__search-input {
    margin: var(--pf-t--global--spacer--md);
  }

  &__action {
    padding: var(--pf-t--global--spacer--sm);
  }

  &__panel-toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    right: -0.5rem;
    top: 1.375rem;
    z-index: var(--pf-t--global--z-index--2xl);
    border: 1px solid var(--pf-t--global--icon--color--brand--default);
    border-radius: 100%;
    background: var(--pf-t--global--background--color--primary--default);

    &:hover {
      border-color: var(--pf-t--global--icon--color--brand--hover);

      svg {
        color: var(--pf-t--global--icon--color--brand--hover);
      }
    }

    svg {
      color: var(--pf-t--global--icon--color--brand--default);
      width: 1rem;
      height: 1rem;
    }
  }

  &__expand {
    padding: 0 var(--pf-t--global--spacer--xs) 0 var(--pf-t--global--spacer--xs);
    margin-right: calc(var(--pf-t--global--spacer--xs) * 2.5);
  }

  &__toolbar-switch {
    margin-right: var(--pf-t--global--spacer--md);
    margin-bottom: 0;
  }
}

.right-click-action-menu {
  min-width: 0 !important;
}

.vms-tree-view-body {
  --pf-v6-c-drawer__panel__body--PaddingBlockEnd: 30px;
  padding: 0 var(--pf-t--global--spacer--sm);
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  .pf-v6-c-tree-view {
    flex: 1;
    overflow-y: auto;
  }
}

.pf-v6-c-toolbar__content.vms-tree-view-toolbar-content {
  width: 100%;
  padding: 0;
}

.pf-v6-c-toolbar.vms-tree-view-toolbar {
  margin-bottom: var(--pf-t--global--spacer--sm);
  padding: 0;
}
.pf-v6-c-tree-view__node .pf-v6-c-tree-view__node-count {
  display: flex;
  flex-grow: 1;
  flex-direction: row-reverse;
}

.pf-v6-c-tree-view {
  padding: 0;
  --pf-v6-c-tree-view__node--indent--base: 2rem;
  --pf-v6-c-tree-view__node--nested-indent--base: 0.75rem;
  --pf-v6-c-tree-view__node--PaddingBlockStart: 0.25rem;
  --pf-v6-c-tree-view__node-icon--PaddingInlineEnd: 0.25rem;
  --pf-v6-c-tree-view__node--PaddingBlockEnd: 0.25rem;
}
