.vms-tree-view {
  overflow-x: hidden;

  .pf-v6-c-tree-view__list-item {
    position: relative;
  }

  .right-click-action-menu-background {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
  }

  .right-click-action-menu {
    transform: translateY(30px) translateX(50px);
  }

  &__toolbar-section {
    width: 100%;
  }

  &__toolbar-top-panel {
    align-items: center;
    margin: var(--pf-t--global--spacer--sm) var(--pf-t--global--spacer--md) 0
      var(--pf-t--global--spacer--sm);
  }

  &__search-input {
    width: 100%;
  }

  &__action {
    padding: var(--pf-t--global--spacer--sm);
  }

  &__header-section {
    margin: var(--pf-t--global--spacer--sm) 0;
  }

  &__title {
    align-self: baseline;
  }

  &__expand {
    padding: 0 var(--pf-t--global--spacer--xs) 0 var(--pf-t--global--spacer--xs);
    margin-right: calc(var(--pf-t--global--spacer--xs) * 2.5);
  }

  &__toolbar-switch {
    margin-right: var(--pf-t--global--spacer--sm);
    margin-bottom: 0;
  }
}

.right-click-action-menu--vm {
  min-width: 0 !important;
  margin-left: 3.5rem;
}

.pf-v6-c-drawer__body.vms-tree-view-body {
  padding: 0;
}

.pf-v6-c-drawer__panel-main {
  .pf-v6-c-drawer__body {
    padding: 0 var(--pf-t--global--spacer--sm);
    height: fit-content;
  }
}
.pf-v6-c-toolbar__content.vms-tree-view-toolbar-content {
  width: 100%;
  padding: 0;
}

.pf-v6-c-toolbar.vms-tree-view-toolbar {
  margin-bottom: var(--pf-t--global--spacer--sm);
  padding: 0;
}
.pf-v6-c-tree-view__node .pf-v6-c-tree-view__node-count {
  display: flex;
  flex-grow: 1;
  flex-direction: row-reverse;
}

.pf-v6-c-tree-view {
  padding: 0;
  --pf-v6-c-tree-view__node--indent--base: 2rem;
  --pf-v6-c-tree-view__node--nested-indent--base: 0.75rem;
  --pf-v6-c-tree-view__node--PaddingBlockStart: 0.25rem;
  --pf-v6-c-tree-view__node-icon--PaddingInlineEnd: 0.25rem;
  --pf-v6-c-tree-view__node--PaddingBlockEnd: 0.25rem;
}
