.vm-list-summary {
  &__expand-section {
    margin: var(--pf-t--global--spacer--sm) var(--pf-t--global--spacer--md);

    .pf-v6-c-card__body {
      padding-bottom: var(--pf-t--global--spacer--md);
    }

    &-toggle {
      color: var(--pf-t--global--text--color--regular);
    }

    &-content {
      max-width: 1800px;

      .pf-v6-c-card {
        flex-grow: 1;
      }
    }
  }
}
