.vm-list-summary {
  &__expand-section {
    margin: var(--pf-t--global--spacer--sm) var(--pf-t--global--spacer--md);

    .pf-v6-c-card__body {
      padding-bottom: var(--pf-t--global--spacer--md);
    }

    &-toggle {
      color: var(--pf-t--global--text--color--regular);
    }
  }
}
