.kv-top-consumers-card__header {
  border-bottom: var(--pf-t--global--border--width--regular) solid
    var(--pf-t--global--border--color--default);
}

.kv-top-consumers-card__dropdown--duration {
  margin-left: var(--pf-t--global--spacer--lg);
}

div.kv-top-consumers-card__body {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
