.kv-top-consumers-card__header {
  border-bottom: var(--pf-v5-global--BorderWidth--sm) solid var(--pf-v5-global--Color--light-300);
}

.kv-top-consumers-card__dropdown--duration {
  margin-left: var(--pf-v5-global--spacer--lg);
}

div.kv-top-consumers-card__body {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
