.kv-inventory-card__statuses-grid {
  height: 100%;
  padding-top: var(--pf-v6-c-card--first-child--PaddingBlockStart);
  padding-bottom: var(--pf-v6-c-card--child--PaddingBlockEnd);
}

.kv-inventory-card__statuses-grid--left-col {
  border-right: var(--pf-t--global--border--width--regular) solid
    var(--pf-t--global--border--color--default);
}
