.kv-inventory-card__statuses-grid {
  height: 100%;
  padding-top: var(--pf-v5-c-card--first-child--PaddingTop);
  padding-bottom: var(--pf-v5-c-card--child--PaddingBottom);
}

.kv-inventory-card__statuses-grid--left-col {
  border-right: var(--pf-v5-global--BorderWidth--sm) solid var(--pf-v5-global--BorderColor--100);
}
