.virtual-machine-migration-modal {
  .pf-v6-c-wizard__main {
    min-height: 300px;
  }

  .migration-status {
    &__body {
      padding-top: var(--pf-t--global--spacer--md);
      padding-bottom: 7rem;

      h2 {
        padding-bottom: var(--pf-t--global--spacer--md);
      }

      p:last-of-type {
        padding-top: var(--pf-t--global--spacer--md);
      }
    }

    &__view-report {
      margin-left: auto;
    }
  }
}
