.cluster-project-dropdown {
  z-index: 1000;
  background-color: var(--pf-v6-c-page__main-section--BackgroundColor);
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border-bottom: var(--pf-t--global--border--width--divider--default) solid
    var(--pf-t--global--border--color--default);
  padding: 0.5rem;
  width: 100%;

  &__cluster,
  &__project {
    display: flex;
    gap: var(--pf-t--global--spacer--sm);
    align-items: center;
  }

  &__cluster-dropdown {
    min-width: 200px;
  }

  & .pf-v6-c-menu-toggle {
    border: none;
  }
}
