.migration-policy__form {
  width: 50%;
  &-config-dropdown {
    min-width: fit-content;
    width: 50%;
  }
  &-body {
    margin: var(--pf-global--spacer--lg) 0 0;
    padding: 0 var(--pf-global--spacer--md) var(--pf-global--spacer--lg);
    padding-left: var(--pf-global--spacer--lg);
    padding-right: var(--pf-global--spacer--lg);
  }
  &-header {
    margin-top: var(--pf-global--spacer--lg);
    padding: 0 var(--pf-global--spacer--lg);
    align-items: baseline;
    display: flex;
    justify-content: space-between;
  }
  &-header-link {
    font-size: var(--pf-global--FontSize--md);
  }
}
