.migration-tool-page {
  text-align: center;

  .migration-tool-image {
    width: 100%;
    max-width: 400px;
  }

  .migration-phrase {
    max-width: 700px;
    text-align: center;
    margin: var(--pf-global--spacer--md) auto 0;
  }
}
