.kv-top-consumer-card__metric-card {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  box-shadow: none;
}

.kv-top-consumer-card__header {
  align-items: center;
  display: flex;
  justify-content: right;
  padding-left: var(--pf-v6-c-card--child--PaddingInlineStart);
  padding-right: var(--pf-v6-c-card--child--PaddingInlineEnd);
  padding-top: var(--pf-v6-c-card--first-child--PaddingBlockStart);
}

.kv-top-consumer-card__scope-select {
  margin-left: var(--pf-t--global--spacer--md);
}

.kv-top-consumer-card__chart-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  color: var(--pf-t--global--text--color--subtle);
  font-size: var(--pf-t--global--font--size--sm);
  border-bottom: var(--pf-t--global--border--width--regular) solid
    var(--pf-t--global--border--color--default);
  padding-left: var(--pf-v6-c-card--child--PaddingInlineStart);
  padding-right: var(--pf-v6-c-card--child--PaddingInlineEnd);
  padding-top: var(--pf-t--global--spacer--md);
  padding-bottom: var(--pf-t--global--spacer--sm);
}
