.kv-permissions-card__count-item {
  align-items: center;
  display: flex;
  flex-shrink: 0;
}

.kv-permissions-card__count-item--icon {
  margin-right: 0.35em;
  padding-left: var(--pf-global--spacer--xs);
}