.expand-section-custom-toggle {
  &__toggle-container--expanded {
    margin-bottom: var(--pf-t--global--spacer--md);
  }

  &__custom-content {
    display: inline-flex;
    align-items: center;
    width: 100%;
  }

  &__help-icon {
    color: var(--pf-t--global--text--color--regular);
    margin-left: var(--pf-t--global--spacer--xs);
  }

  &__help-icon-container {
    display: inline-flex;
    align-items: center;
  }

  &__expandable-section {
    width: 500px;
    padding-left: 0;
  }
}
