.CheckupsRunButton {
  &--main {
    button {
      color: var(--pf-t--global--text--color--on-disabled);
      background-color: var(--pf-t--global--background--color--disabled--default);
    }
  }
  &--item {
    &__disabled {
      cursor: default;
      color: var(--pf-t--global--text--color--disabled);
    }
  }
}

.CheckupsNetworkStatusIcon {
  &--main {
    .pf-v6-c-icon {
      margin-right: var(--pf-t--global--spacer--xs);
    }
  }
}
