.CheckupsRunButton {
  &--main {
    button {
      color: var(--pf-v5-global--disabled-color--100);
      background-color: var(--pf-v5-global--disabled-color--200);
    }
  }
  &--item {
    &__disabled {
      cursor: default;
      color: var(--pf-v5-global--disabled-color--200);
    }
  }
}

.CheckupsNetworkStatusIcon {
  &--main {
    svg {
      margin-right: var(--pf-v5-global--spacer--xs);
    }
  }
}
