.kv-permissions-card__status {
  display: flex;
  justify-content: space-between;
  padding-left: var(--pf-c-card--child--PaddingLeft);
  padding-right: var(--pf-c-card--child--PaddingRight);
  padding-top: var(--pf-c-card--first-child--PaddingTop);
}