.KernelSamepageMerging {
  &__HelpTextIcon {
    min-width: 473px;
    .pf-v6-c-popover__content {
      min-width: 465px;
    }
  }

  &__Alert {
    margin-top: var(--pf-t--global--spacer--md);
  }
}
