.VirtualMachinesOverviewTabNetworkFQDN {
  &--main {
    padding: var(--pf-t--global--spacer--md) 0 var(--pf-t--global--spacer--md)
      var(--pf-t--global--spacer--lg);
    .pf-v6-c-clipboard-copy__text {
      max-width: 85%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      vertical-align: bottom;
    }
    .pf-v6-c-description-list__text {
      font-weight: normal;
    }
  }
}
