.description-item__title {
  justify-content: space-between;
  flex: 1;
}

.margin-top {
  margin-top: var(--pf-t--global--spacer--md);
}

.DescriptionItemHeader {
  &--list-term {
    .pf-v6-c-description-list__text {
      align-items: center;
      display: inline-flex;
    }
  }

  &--required {
    margin-inline-start: var(--pf-t--global--spacer--xs);
    font-size: var(--pf-t--global--font--size--body--default);
    color: var(--pf-t--global--color--status--danger--default);
  }
}
