.description-item__title {
  justify-content: space-between;
  flex: 1;
}

.margin-top {
  margin-top: var(--pf-global--spacer--md);
}

.DescriptionItemHeader {
  &--list-term {
    .pf-c-description-list__text {
      align-items: center;
      display: inline-flex;
    }
  }
}
