.cloud-init-credentials {
  align-items: center;
  &-title {
    margin: 0;
    margin-right: 10px;
  }
  &-user-pass {
    margin-left: 20px;
  }
}

.cloud-init-credentials-inline-code {
  background-color: var(--pf-t--color--gray--10);
  border-radius: 3px;
  padding: 2px 6px;
}
