.alert-name {
  color: var(--pf-t--global--text--color--regular);
  font-size: var(--pf-t--global--font--size--md);
  margin-top: var(--pf-t--global--spacer--xs);
  margin-bottom: var(--pf-t--global--spacer--xs);
}

.alert-item {
  display: flex;
  padding-bottom: 0.5rem;

  &__icon {
    display: flex;
    margin-right: var(--pf-t--global--spacer--md);
  }

  &__message {
    display: flex;
    flex-direction: column;
  }

  &__more {
    display: flex;
    flex-shrink: 0;
    justify-content: flex-end;
    padding-left: var(--pf-v6-c-card--child--PaddingInlineStart);
  }

  &__text {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__header {
    white-space: nowrap;
  }

  &__resource-icon {
    margin-right: var(--pf-t--global--spacer--sm);
  }

  &__timestamp {
    display: inline-block;
  }

  &__title {
    display: flex;
    align-items: center;

    .alert-name {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__vm-details {
    font-size: var(--pf-t--global--font--size--sm);
    margin-top: var(--pf-t--global--spacer--xs);
  }

  .alert-item:first-of-type {
    padding-top: var(--pf-v6-c-card--first-child--PaddingBlockStart);
  }

  .alert-item:last-of-type {
    padding-bottom: var(--pf-v6-c-card--child--PaddingBlockEnd);
  }
}
