.alerts-card__drawer {
  .alerts-label {
    margin-right: var(--pf-global--spacer--xs);
    &--text {
      text-transform: capitalize;
    }
  }
  .pf-c-accordion__toggle-text {
    display: flex;
  }
  .pf-c-accordion__toggle,
  .pf-c-accordion__expanded-content-body {
    &:after,
    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
    }
    .subtitle {
      min-width: 100px;
      text-align: left;
    }
    .subtitle-label {
      margin-left: var(--pf-global--spacer--sm);
    }
  }
  .pf-c-accordion__expanded-content-body {
    padding: 0;
    .content {
      padding: var(--pf-c-accordion__toggle--PaddingTop) var(--pf-global--spacer--lg)
        var(--pf-c-accordion__toggle--PaddingBottom) var(--pf-global--spacer--lg);
    }
    .alert-title {
      display: flex;
      justify-content: space-between;
      margin-bottom: var(--pf-global--spacer--sm);
      .alert-name {
        color: var(--pf-global--Color--100);
        font-size: var(--pf-global--FontSize--md);
        font-weight: var(--pf-global--FontWeight--semi-bold);
      }
    }
    .alert-description {
      margin-bottom: var(--pf-global--spacer--sm);
    }
    .alert-icon {
      margin-right: var(--pf-global--spacer--sm);

      &--critical {
        color: var(--pf-c-label--m-red__icon--Color);
      }
      &--warning {
        color: var(--pf-global--palette--orange-300);
      }
      &--info {
        color: var(--pf-c-label--m-blue__icon--Color);
      }
    }
  }
  .pf-c-label {
    .pf-c-label__content:before {
      border: none;
    }
  }
}

.alerts-card {
  &__actions {
    margin-right: 0;
  }

  &__toggle--main {
    padding-left: var(--pf-global--spacer--lg);
    padding-right: var(--pf-global--spacer--lg);
  }

  &__toggle--item {
    padding-left: var(--pf-global--spacer--lg);
    padding-right: var(--pf-global--spacer--lg);
  }

  &__view-all-link {
    width: 65px;
    margin-right: var(--pf-global--spacer--xs);
  }

  &__header {
    padding: var(--pf-global--spacer--md) var(--pf-global--spacer--lg);
  }
   &__nonadmin-popover {
     text-align: center;
   }
}


