.alert-name {
  color: var(--pf-v5-global--Color--100);
  font-size: var(--pf-v5-global--FontSize--md);
  font-weight: var(--pf-v5-global--FontWeight--semi-bold);
  margin-top: var(--pf-v5-global--spacer--xs);
  margin-bottom: var(--pf-v5-global--spacer--xs);
}

.alert-item {
  display: flex;
  padding-bottom: 0.5rem;

  &__icon {
    display: flex;
    margin-right: var(--pf-v5-global--spacer--md);
  }

  &__message {
    display: flex;
    flex-direction: column;
  }

  &__more {
    display: flex;
    flex-shrink: 0;
    justify-content: flex-end;
    padding-left: var(--pf-v5-c-card--child--PaddingLeft);
  }

  &__text {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__header {
    white-space: nowrap;
  }

  &__resource-icon {
    margin-right: var(--pf-v5-global--spacer--sm);
  }

  &__timestamp {
    display: inline-block;
  }

  .alert-item:first-of-type {
    padding-top: var(--pf-v5-c-card--first-child--PaddingTop);
  }

  .alert-item:last-of-type {
    padding-bottom: var(--pf-v5-c-card--child--PaddingBottom);
  }
}
