.customize-it-vm-footer {
  padding: var(--pf-t--global--spacer--sm) var(--pf-t--global--spacer--lg)
    var(--pf-t--global--spacer--lg);
  border-top: var(--pf-t--global--border--width--regular) solid
    var(--pf-t--global--border--color--default);
  position: sticky;
  bottom: 0;
  width: 100%;
  background: var(--pf-v6-c-page__main-section--BackgroundColor);
  z-index: 1000;
}
