.customize-it-vm-footer {
  padding: var(--pf-v5-global--spacer--lg);
  border-top: var(--pf-v5-global--BorderWidth--sm) solid var(--pf-v5-global--BorderColor--100);
  position: sticky;
  bottom: 0;
  width: 100%;
  background: var(--pf-v5-c-page__main-section--m-light--BackgroundColor);
  z-index: 1000;
}
