.create-vm-instance-type-section {
  padding: var(--pf-t--global--spacer--xl);
  &__list {
    li + li {
      margin-top: 0;
    }
  }
  &__step {
    font-size: var(--pf-t--global--font--size--xl);
    height: var(--pf-t--global--spacer--xl);
    width: var(--pf-t--global--spacer--xl);
    margin-right: var(--pf-t--global--spacer--md);
    background-color: var(--pf-t--global--background--color--secondary--default);
    color: var(--pf-t--global--text--color--regular);
    border-radius: 50%;
    display: inline-grid;
    align-items: center;
    text-align: center;
  }
  &__step.current {
    background-color: var(--pf-t--global--icon--color--brand--default);
    color: var(--pf-t--global--text--color--on-brand--default);
    font-weight: bolder;
  }
  &__header {
    font-size: var(--pf-t--global--font--size--xl);

    .help-icon__cursor {
      color: var(--pf-t--global--icon--color--regular);
      font-size: var(--pf-t--global--font--size--sm);
    }
  }
  &__header.current {
    color: var(--pf-t--global--text--color--brand--default);
    font-weight: bolder;
  }
  &__add-volume-btn {
    padding-right: var(--pf-t--global--spacer--sm);
  }
  &__HelpTextIcon {
    max-width: 575px;
  }
  &__page-loader {
    height: 50vh;
  }

  .pf-v6-c-table__tr.pf-m-clickable.pf-m-selected > td {
    font-weight: var(--pf-t--global--font--weight--heading--bold);
  }

  .pf-v6-c-table__tr.pf-m-clickable.pf-m-selected
    .pf-v6-c-table__td.pf-v6-c-table__favorite::after {
    border-inline-start: calc(var(--pf-t--global--border--width--extra-strong) * 2) solid
      var(--pf-v6-c-table__expandable-row--after--BorderColor);
  }
}
