name: CI
on:
  pull_request:
    types:
      - opened
      - synchronize
  push:
    branches:
      - main

jobs:
  i18n:
    name: i18n
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Yarn
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "yarn"
      - name: Enable Corepack
        run: corepack enable
      - run: yarn install --frozen-lockfile

      - name: Check i18n
        shell: bash
        run: |
          yarn i18n
          GIT_STATUS="$(git status --short --untracked-files locales)"
          if [ -n "$GIT_STATUS" ]; then
            echo "i18n files are not up to date. Commit them to fix."
            git diff
            exit 1
          fi

  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Yarn
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "yarn"
      - run: yarn install --frozen-lockfile

      - name: Lint
        run: yarn lint

      - name: Build
        run: yarn build

  unit-test:
    name: unit-test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Yarn
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "yarn"
      - run: yarn install --frozen-lockfile

      - name: Run Unit Tests
        run: yarn test-cov

      - name: Coverage Upload
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
