name: CI
on:
  pull_request:
    types:
      - opened
      - synchronize
  push:
    branches:
      - main

jobs:
  i18n:
    name: i18n
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: '22'
      - run: npm ci --ignore-scripts

      - name: Check i18n
        shell: bash
        run: |
          npm run i18n
          GIT_STATUS="$(git status --short --untracked-files locales)"
          if [ -n "$GIT_STATUS" ]; then
            echo "i18n files are not up to date. Commit them to fix."
            git diff
            exit 1
          fi

  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: '22'
      - run: npm ci --ignore-scripts

      - name: Lint
        run: npm run lint:fix

      - name: Check File Changes
        run: git diff --name-only --exit-code && echo "No changes after linting."

      - name: Build
        run: npm run build

  unit-test:
    name: unit-test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: '22'
      - run: npm ci --ignore-scripts

      - name: Run Unit Tests
        run: npm run test-cov

      - name: Coverage Upload
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
