name: CI
on:
  pull_request:
    types:
      - opened
      - synchronize
  push:
    branches:
      - main

jobs:
  i18n:
    name: i18n
    permissions:
      packages: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Yarn
        uses: actions/setup-node@v6
        with:
          node-version: '22'
          cache: 'yarn'
          registry-url: 'https://npm.pkg.github.com'

      - run: yarn install --frozen-lockfile
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Check i18n
        shell: bash
        run: |
          yarn i18n
          GIT_STATUS="$(git status --short --untracked-files locales)"
          if [ -n "$GIT_STATUS" ]; then
            echo "i18n files are not up to date. Commit them to fix."
            git diff
            exit 1
          fi

  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Yarn
        uses: actions/setup-node@v6
        with:
          node-version: '22'
          cache: 'yarn'
          registry-url: 'https://npm.pkg.github.com'

      - run: yarn install --frozen-lockfile
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Lint
        run: yarn lint:fix

      - name: Check File Changes
        run: git diff --name-only --exit-code && echo "No changes after linting."

      - name: Build
        run: yarn build

  unit-test:
    name: unit-test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Yarn
        uses: actions/setup-node@v6
        with:
          node-version: '22'
          cache: 'yarn'
          registry-url: 'https://npm.pkg.github.com'

      - run: yarn install --frozen-lockfile
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run Unit Tests
        run: yarn test-cov

      - name: Coverage Upload
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
